html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

  body {
  font-family: sans-serif;
  color: #1D0E0E;
  text-align: center;
  font-family: CGF Locust Resistance;
  background-image: url("testimage.gif");
  background-color: #cccccc;  
  line-height: 2; }
  
header,
h1 {
  text-align: center;
  font-family: Brush Script MT;
  font-size: 5em;
  color: DodgerBlue;
  -webkit-text-stroke: 1.5px #000;
  background-image: url("GradientBackground.gif");
  width:100%;        
  margin-left:auto;
  margin-right:auto;
  background-position:center;
  background-repeat:no-repeat; }

p {
  background-image: -webkit-gradient(linear, left top, left bottom, 
  from(gray), to(#4D0D0D));
  background-image: -webkit-linear-gradient(top, gray, #4D0D0D);
  background-image: -moz-linear-gradient(top, gray, #4D0D0D);
  background-image: linear-gradient(to bottom, gray, #4D0D0D);;
  background-size: 450px;
  width:100%;        
  margin-left:auto;
  margin-right:auto;
  -webkit-text-stroke: 1.1px #FFCACA;
  background-position:center;
  background-repeat:no-repeat; }

ol, ul {
  list-style: none; }

h2 {
  background-image: url("BackgroundCocc.gif");
  width:100%;        
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom:30px;
  background-size: 600px;
  background-position: center;
  background-position-y: 0px;
  background-repeat:no-repeat;
  text-align: center;
  font-family: Brush Script MT;
  font-size: 65px;
  color: lightgray; }

h1:active {
color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

a {
  color: #0E5464; }
  a:hover {
    color: #63C1E6; }

#main {
  padding: 50px; }


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}